@import url('https://fonts.googleapis.com/css2?family=Tinos&family=Yeseva+One&display=swap');

* {
    margin: 0;
    padding: 0;
}
.heading{
    background-color: #ffebcd;
    height: 500px;
    width:auto;
}

.section1{
    background-color:#c68b52;
    height: 300px;
    width:auto;
}

.navbar{
    display: flex;
    cursor: pointer;
    position: sticky;
    top: 0;
    justify-content: center;
    align-items: center;
}

.nav-title {
    font-size: 35px;
    font-family: 'Yeseva One', cursive;
}

.nav-text {
    font-size: 18px;
    font-family: 'Tinos', serif;
}

.navBackground{
    background-color: #85500d;
    background-blend-mode: darken;
    background-size: cover;
}

.navList{
    width: 70%;
    display: flex;
    align-items: center;
}

.navList li {
    padding: 25px 30px;
    list-style: none;
}

.navList li a {
    color: white;
    text-decoration: none;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    max-width: 75%;
    margin: auto;
}

.formatSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.picture {
    width: 50%;
    height: 100%;
    max-width: 100%;
    flex-direction: column;
    justify-content: right;
    align-items: right;
}

.img {
    width: 500px;
    height: 500px;
}

.title-text {
    font-size: 30px;
    font-family: 'Yeseva One', cursive;
}

.paragraphs {
    font-size: 20px;
    font-family: 'Tinos', serif;
    margin-top: 30px;
}

.divider {
    padding: 0px 70px;
}

.baking-text {
    font-family: 'Tinos', serif;
    margin-top: 30px;
}